<div class="container">
  <!-- Call to Action Well -->
  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
      <p class="text-white m-0">
        Posts da centauro!
      </p>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div *ngFor="let item of posts" class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">{{ item.title }}</h2>
          <p class="card-title">Descrição: {{ item.description }}</p>
          <p class="card-title">Marca: {{ item.marca }}</p>
          <p class="card-title">Data: {{ item.date }}</p>
          <p class="card-title">Comentários: {{ item.num_comments }}</p>
          <p class="card-title">Curtidas: {{ item.num_likes }}</p>
          <p class="card-text">Posts da marca Nike na centauro.</p>
        </div>
        <div class="card-footer">
          <a href="http://{{ item.link }}" target="_blank" class="btn btn-primary btn-sm">Abrir post</a>
        </div>
      </div>
    </div>
  </div>
</div>
