<div class="container">
  <!-- Heading Row -->
  <div class="row align-items-center my-5">
    <div class="col-lg-7">
      <img
        class="img-fluid rounded mb-4 mb-lg-0"
        src="https://anymarket.com.br/wp-content/uploads/2018/07/centauro.png"
        alt=""
      />
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5">
      <h1 class="font-weight-light">Centauro</h1>
      <p>Extraindo informações dos posts da centauro</p>
      <!-- <a class="btn btn-primary" href="#">Call to Action!</a> -->
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->

  <!-- Call to Action Well -->
  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
      <p class="text-white m-0">
        Selecione abaixo a marca que deseja ver os posts!
      </p>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Nike</h2>
          <p class="card-text">Posts da marca Nike na centauro.</p>
        </div>
        <div class="card-footer">
          <a (click)="posts('hashtag/nikenacentauro')" class="btn btn-primary btn-sm">Visualizar posts</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Adidas</h2>
          <p class="card-text">Posts da marca Adidas na centauro.</p>
        </div>
        <div class="card-footer">
          <a  (click)="posts('hashtag/adidasnacentauro')" class="btn btn-primary btn-sm">Visualizar posts</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
